table.widefat th.check-column,
table.widefat td.check-column{
  padding: 0;
  vertical-align: middle;
}
table.widefat td input[type="text"]{
  width: 100%;
  min-height: 1.5em;
  height: 100%;
}
table.ai1ecf_ai1ec_fixes-table.hidden{
  display: block !important;
  visibility: hidden;
  position: absolute;
  top: -999em;
  width: 1px;
}
input.button.hidden{
/*   display: none; */
}
h2.nav-tab-wrapper.hidden{
/*   display: none; */
}

.ai1ecf-option-row {
  width: calc(100% - 11px);
  clear: both;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  overflow: auto;
}
.ai1ecf-option-row:last-of-type {
  border-bottom: none;
}
.ai1ecf-option-label {
  width: 29%;
  float: left;
}
.ai1ecf-option-value {
  width: 70%;
  float: right;
}
.ai1ecf-option-clear-both{
    clear: both;
}
