<div class="ai1ecf-option-row">
  <span class="ai1ecf-option-label">%%label-users%%</span>
  <div class="ai1ecf-option-value">%%users%%</div>
</div>
<div class="ai1ecf-option-row">
  <label for="email-addresses" class="ai1ecf-option-label">%%label-email-addresses%%</label>
  <input id="email-addresses" name="email-addresses" type="text" class="ai1ecf-option-value" value="%%email-addresses%%"/>
</div>
<div class="ai1ecf-option-row">
  <label for="day" class="ai1ecf-option-label">%%label-day%%</label>
  <select id="day" name="day" class="ai1ecf-option-value">
    %%options-weekdays%%
  </select>
</div>
<div class="ai1ecf-option-row">
  <span class="ai1ecf-option-label">%%label-time%%</span>
  <span class="ai1ecf-option-value">
    <select id="time-hour" name="time-hour" class="ai1ecf-option-value-time-hour">%%options-hour%%</select> : <select id="time-minute" name="time-minute" class="ai1ecf-option-value-time-minute">%%options-minute%%</select>
  </span>
</div>
<div class="ai1ecf-option-row">
  <label for="email-subject" class="ai1ecf-option-label">%%label-email-subject%%</label>
  <input id="email-subject" name="email-subject" type="text" class="ai1ecf-option-value" value="%%email-subject%%"/>
</div>
<div class="ai1ecf-option-row">
  <span class="ai1ecf-option-label full-width">%%label-email-body%%</span>
  <div class="ai1ecf-option-value">
    %%email-body-wp-editor%%
  </div>
</div>
