<tr %%row-class%%>
  <th><label for="contact_name_%%contact_name_id%%">%%contact_name%%</label></th>
  <td><input id="contact_name_%%contact_name_id%%" name="contact_name_%%contact_name_id%%" type="text" value="%%contact_name_value%%"/></td>
  <td class="manage-column check-column"><span title="%%header-only_if_empty%%"><input id="contact_name_%%contact_name_id%%_only_if_empty" name="contact_name_%%contact_name_id%%_only_if_empty" type="checkbox" %%checked%% value="1"/></span></td>
  <td>%%examples%%</td>
</tr>