<div class="ai1ecf-option-row">
  <span class="ai1ecf-option-label">%%label-users%%</span>
  <div class="ai1ecf-option-value">%%reminder-users%%</div>
</div>
<div class="ai1ecf-option-row">
  <label for="reminder_email-addresses" class="ai1ecf-option-label">%%label-email-addresses%%</label>
  <input id="reminder_email-addresses" name="reminder_email-addresses" type="text" class="ai1ecf-option-value" value="%%reminder_email-addresses%%"/>
</div>
<div class="ai1ecf-option-row">
  <label for="reminder_day" class="ai1ecf-option-label">%%label-day%%</label>
  <select id="reminder_day" name="reminder_day" class="ai1ecf-option-value">
    %%options-weekdays%%
  </select>
</div>
<div class="ai1ecf-option-row">
  <span class="ai1ecf-option-label">%%label-time%%</span>
  <span class="ai1ecf-option-value">
    <select id="reminder_time-hour" name="reminder_time-hour" class="ai1ecf-option-value-time-hour">%%options-hour%%</select> : <select id="reminder_time-minute" name="reminder_time-minute" class="ai1ecf-option-value-time-minute">%%options-minute%%</select>
  </span>
</div>
<div class="ai1ecf-option-row">
  <label for="reminder_email-subject" class="ai1ecf-option-label">%%label-email-subject%%</label>
  <input id="reminder_email-subject" name="reminder_email-subject" type="text" class="ai1ecf-option-value" value="%%reminder_email-subject%%"/>
</div>
<div class="ai1ecf-option-row">
  <span class="ai1ecf-option-label full-width">%%label-email-body%%</span>
  <div class="ai1ecf-option-value">
    %%reminder_email-body-wp-editor%%
  </div>
</div>
