<div class="ai1ecf-option-row">
  <span class="ai1ecf-option-label term-keywords">%%label-term-name%%</span>
  <div class="ai1ecf-option-value">
    <div class="ai1ecf-option-row">
      <span class="ai1ecf-option-label">%%label-default-term-keywords%%</span>
      <div class="ai1ecf-option-value">
        %%default-term-keyword-checkboxes%%
      </div>
    </div>
    <div class="ai1ecf-option-row">
      <label for="%%prefix%%term-additional-keywords-%%term_type%%-%%term-id%%" class="ai1ecf-option-label">%%label-additional-term-keywords%%</label>
      <input id="%%prefix%%term-additional-keywords-%%term_type%%-%%term-id%%" name="%%prefix%%term-additional-keywords-%%term_type%%-%%term-id%%" type="text" class="ai1ecf-option-value" value="%%value%%"/>
    </div>
  </div>
</div>