<form action="" method="post">
  <input id="save-ai1ecf-options-top" class="button button-primary button-large right" name="save-ai1ecf-options" type="submit" value="%%button-value%%" />
  <label for="ai1ecf-location-replacement-enabled"><strong>%%location-replacement-enabled-label%%</strong></label>
  <input id="ai1ecf-location-replacement-enabled" name="ai1ecf-location-replacement-enabled" %%checked%% type="checkbox" value="1"/>
  <h2 class="nav-tab-wrapper">
    %%tabs%%
  </h2>
  %%tables%%
<!--   <hr/> -->
  <input id="save-ai1ecf-options-bottom" class="button button-primary right button-large" name="save-ai1ecf-options" type="submit" value="%%button-value%%" />
</form>